* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: #33475b;
  font-family: Arial;
}

.center-content {
  width: 70%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
header {
  width: 100%;
}
#header-top-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  box-sizing: content-box;
  line-height: 80px;
  z-index: 1;
}
#header-top {
  font-size: 18px;
}
#language-chooser {
  float: left;
}
#vertical-dividers {
  border-left: 2px solid;
  height: 20px;
  float: left;
  margin-left: 1%;
  margin-top: 2%;
}
#contact-us {
  float: left;
  margin-left: 1%;
}
#contact-us > a {
  text-decoration: none;
}
#get-free-button-container {
  float: right;
}
#get-free-button-header {
  width: 154px;
  height: 45px;
  border: none;
  background-color: #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}
#login-button-container {
  float: right;
  margin-right: 2%;
}
#login-button {
  width: 80px;
  height: 45px;
  margin-right: 20%;
  background-color: #FAFCFE;
  border: 1px solid #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: #ff7a59;
}
#search-icon-container{
  float: right;
  margin-right: 2%;
}
#search-icon {
  color: #2FB5C9;
}
#header-bottom-container {
  height: 80px;
  margin-top: 80px;
  line-height: 80px;
  background-color: #FFFFFF;
}
#website-logo{
  float: left;
  margin-top: 0.5%;
}
#navigation {
  float: right;
}
ul#menu {
  list-style-type: none;
}
ul#menu > li {
  display: inline-block;
  padding: 0px 20px;
}
ul#menu > li > a {
  text-decoration: none;
}
/* /Header */

/* Jumbotron */
#jumbotron {
  width: 100%;
  height: 695px;
  background-color: #FFF4EF;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: top right;
}
#jumbotron-container {
  position: relative;
}
#jumbotron-content {
  position: absolute;
  margin-top: 5%;
}
#jumbotron-content h1 {
  font-size: 48px;
  max-width:550px;
  word-wrap:break-word;
}
#jumbotron-content p {
  font-size: 18px;
  max-width:550px;
  word-wrap:break-word;
  margin-top: 6%;
  padding: 2px;
  line-height: 34px;
}
#get-free-button {
  width: 208px;
  height: 74px;
  margin-top: 6%;
  border: none;
  background-color: #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}
/* /Jumbotron */

/* Dividers */
#dividers {
  width: 100%;
  height: 100px;
  margin-top: -4.5%;
  background-color: #AFEBE4;
  border-top: 4px solid;
  border-bottom: 4px solid;
}
/* /Dividers */

/* Sezione integrations */
#integrations-container {
  position: relative;
  width: 100%;
  height: 1288px;
  background-color: #F4F9FD;
}

/* Immagine integrazione */
#rubrik-cube-container{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#rubrik-cube {
  width: 426px;
  height: 294px;
}
/* /Immagine integrazione */

/* Titolo e testo "integrations */
#integrations-text-container {
  position:absolute;
  top:32%;
  left:24.5%;
}
#integrations-text-content h1 {
  margin-left: 20%;
  font-size: 40px;
}
#integrations-text-content p {
  margin-top: 3%;
  font-size: 18px;
  max-width: 920px;
  word-wrap:break-word;
  text-align: center;
  line-height: 40px;
}
/* /Titolo e testo "integrations */

/* Box CRM */
#crm-box {
  position:relative;
  height: 30%;
  top:48%;
  left:0%;
  border-radius: 6px;
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
}
#img-button {
  float: left;
  position: relative;
}
#crm-img {
  width: 189px;
  height: 132px;
  position: absolute;
  top: 80px;
  left: 200px;
}
#learn-more-button {
  width: 189px;
  height: 65px;
  margin-left: 200px;
  margin-top: 60%;
  border: none;
  background-color: #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}
#crm-text-content {
  width: 55%;
  float: left;
  margin-top: 80px;
  margin-left: 9%;
}
#crm-text-content p {
  margin-top: 7%;
  max-width: 650px;
  word-wrap:break-word;
  line-height: 175%;
}
#feature-title {
  position: relative;
  margin-top: 4%;
}
#feature-title h3 {
  display: inline-block;
  position: absolute;
  margin-top: 0.3%;
  text-transform: uppercase;
}
#feature-title hr {
  border-top: 2px solid #33475b;
}
#hr-cms {
  width: 65%;
  height: 3px;
  display: inline-block;
  margin-left: 30%;
}
#feature-list {
  position: absolute;
  top: 78%;
  left: 35.5%;
}
ul#feature-list {
  height: 29px;
  list-style-type: none;
  margin-left: 15px;
}
ul#feature-list  li {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}
ul#feature-list  i {
  color: #ff7a59;
}
ul#feature-list  span {
  padding: 0px 5px;
}
/* /Box CRM */
