* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: #33475b;
  font-family: Arial;
}

.center-content {
  width: 80%;
  margin: 0 10%;
}

/* Stile header */
header {
  width: 100%;
  height: 160px;
  position: sticky;
  top: 0;

}
#header-top-container {
  height: 80px;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  box-sizing: content-box;
  line-height: 80px;
}
#header-top {
  font-size: 18px;
}
#language-chooser {
  float: left;
}
#vertical-dividers {
  border-left: 2px solid;
  height: 20px;
  float: left;
  margin-left: 1%;
  margin-top: 2%;
}
#contact-us {
  float: left;
  margin-left: 1%;
}
#contact-us > a {
  text-decoration: none;
}
#get-free-button-container {
  float: right;
}
#get-free-button-header {
  width: 154px;
  height: 45px;
  border: none;
  background-color: #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}
#login-button-container {
  float: right;
  margin-right: 2%;
}
#login-button {
  width: 80px;
  height: 45px;
  margin-right: 20%;
  background-color: #F4F9FD;
  border: 1px solid #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: #ff7a59;
}
#search-icon-container{
  float: right;
  margin-right: 2%;
}
#search-icon {
  color: #2FB5C9;
}
#header-bottom-container {
  height: 80px;
  line-height: 80px;
  background-color: #FFFFFF;
}
#navigation {
  float: right;
}
#website-logo{
  float: left;
}
ul#menu {
  list-style-type: none;
  /* text-align: center; */
}
ul#menu > li {
  display: inline-block;
  padding: 0px 20px;
}
ul#menu > li > a {
  text-decoration: none;
}
/* Stile header */

/* Stile homepage hero */
#homepage-hero {
  width: 100%;
  height: 695px;
  position: relative;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
#homepage-hero-content {
  position: absolute;
  margin-top: 3%;
}
#homepage-hero-content h1 {
  font-size: 48px;
  max-width:550px;
  word-wrap:break-word;
}
#homepage-hero-content p {
  font-size: 18px;
  max-width:550px;
  word-wrap:break-word;
  margin-top: 2%;
  padding: 2px;
  line-height: 32px;
}
#get-free-button {
  width: 208px;
  height: 74px;
  margin-top: 2%;
  border: none;
  background-color: #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}
