* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: #33475b;
  font-family: Arial;
}

.center-content {
  width: 70%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.cursor-default {
  cursor: default;
}

/* Header */
header {
  width: 100%;
}
#header-top-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  box-sizing: content-box;
  line-height: 80px;
  z-index: 1;
}
#header-top {
  font-size: 18px;
}
#language-chooser {
  float: left;
}
#vertical-dividers {
  border-left: 2px solid;
  height: 20px;
  float: left;
  margin-left: 1%;
  margin-top: 2%;
}
#contact-us {
  float: left;
  margin-left: 1%;
}
#contact-us > a {
  text-decoration: none;
}
#get-free-button-container {
  float: right;
}
#get-free-button-header {
  width: 154px;
  height: 45px;
  border: none;
  background-color: #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}
#login-button-container {
  float: right;
  margin-right: 2%;
}
#login-button {
  width: 80px;
  height: 45px;
  margin-right: 20%;
  background-color: #FAFCFE;
  border: 1px solid #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: #ff7a59;
}
#search-icon-container{
  float: right;
  margin-right: 2%;
}
#search-icon {
  color: #2FB5C9;
}
#header-bottom-container {
  height: 80px;
  margin-top: 80px;
  line-height: 80px;
  background-color: #FFFFFF;
}
#website-logo{
  float: left;
  margin-top: 0.5%;
}
#navigation {
  float: right;
}
ul#menu {
  list-style-type: none;
}
ul#menu > li {
  display: inline-block;
  padding: 0px 20px;
}
ul#menu > li > a {
  text-decoration: none;
}
/* /Header */

/* Jumbotron */
#jumbotron {
  width: 100%;
  height: 695px;
  background-color: #FFF4EF;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: top right;
}
#jumbotron-container {
  position: relative;
}
#jumbotron-content {
  position: absolute;
  margin-top: 5%;
}
#jumbotron-content h1 {
  font-size: 48px;
  max-width:550px;
  word-wrap:break-word;
}
#jumbotron-content p {
  font-size: 18px;
  max-width:550px;
  word-wrap:break-word;
  margin-top: 6%;
  padding: 2px;
  line-height: 34px;
}
#get-free-button {
  width: 208px;
  height: 74px;
  margin-top: 6%;
  border: none;
  background-color: #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}
/* /Jumbotron */

/* Dividers */
#dividers {
  width: 100%;
  height: 100px;
  margin-top: -4.5%;
  background-color: #AFEBE4;
  border-top: 4px solid;
  border-bottom: 4px solid;
}
/* /Dividers */

/* Sezione integrations */
#integrations-container {
  width: 100%;
  background-color: #F4F9FD;
}

/* header integrazione */
#integrations-header{
  text-align: center;
  padding-top: 4%;
}
#integrations-header img {
  width: 426px;
  height: 294px;
}
#integrations-header h1 {
  font-size: 40px;
}
#integrations-header p {
  font-size: 18px;
  max-width: 1200px;
  word-wrap:break-word;
  padding-top: 2%;
  padding-left: 12%;
  line-height: 40px;
}
/* /header integrazione */

/* Box CRM */
#crm-box {
  height: 400px;
  background-color: red;
  margin-top: 2%;
  border-radius: 6px;
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
}
#crm-img-button {
  float: left;
  padding-top: 5%;
  padding-left: 17%;
}
#crm-img {
  width: 179px;
  height: 132px;
}
.learn-more-button {
  width: 179px;
  height: 63px;
  margin-top: 15%;
  display: block;
  border: none;
  background-color: #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}
#crm-text-content {
  width: 60%;
  float: left;
  padding-top: 5%;
  padding-left: 8%;
}
#crm-text-content p {
  padding-top: 7%;
  max-width: 600px;
  word-wrap:break-word;
  line-height: 30px;
}
#crm-text-content h3 {
  display: inline-block;
  padding-top: 6%;
  text-transform: uppercase;
}
#crm-text-content span {
  width: 500px;
  padding-left: 8%;
  display: inline-block;
  vertical-align: middle;
}
#crm-text-content hr {
  border-top: 2px solid #33475b;
}
#crm-feature-list {
  width: 100%;
}
ul#crm-feature {
  margin-top: 5%;
  padding-left: 0;
  list-style-type: none;
}
ul#crm-feature > li {
  display: inline-block;
}
ul#crm-feature > li > i {
  color: #ff7a59;
}
ul#crm-feature > li > a {
  text-decoration: none;
  padding: 0px 8px;
}
.padding-feature {
  padding-left: 3%;
}
/* /Box CRM */

#three-box-container {
  height: 50%;
  margin-top: 3%;
}

/* Marketing Box */
#marketing-box-container {
  float: left;
  width: 30%;
  height: 700px;
  margin-bottom: 4%;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.5);

}
#marketing-box {
  width: 100%;
  margin-top: 6%;
}
#marketing-box-top h2 {
  padding-top: 6%;
}
#marketing-box-top p {
  padding: 6% 15%;
  line-height: 180%;
}
#marketing-dividers {
  width: 320px;
  height: 2px;
  background-color: #33475b;
  margin-top: 10%;
  margin-left: 10%;
}
#marketing-box-bottom {
  margin-top: 10%;
}
#marketing-box-bottom h3 {
  text-transform: uppercase;
}
#marketing-feature-list {
  text-align: left;
  margin-top: 8%;
  margin-left: 10%;
}
ul#marketing-feature {
  margin-top: 5%;
  padding-left: 0;
  list-style-type: none;
}
ul#marketing-feature > li > i {
  color: #ff7a59;
}
ul#marketing-feature > li > a {
  text-decoration: none;
  padding: 0 4%;
}
#marketing-button {
  margin-left: 28%;
}
/* /Marketing Box */

/* Sales Box */
#sales-box-container {
  float: left;
  width: 30%;
  height: 700px;
  margin-bottom: 4%;
  text-align: center;
  margin: 0 5%;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.5);
}
#sales-box {
  width: 100%;
  margin-top: 6%;
}
#sales-box-top h2 {
  padding-top: 6%;
}
#sales-box-top p {
  padding: 6% 15%;
  line-height: 180%;
}
#sales-dividers {
  width: 320px;
  height: 2px;
  background-color: #33475b;
  margin-top: 10%;
  margin-left: 10%;
}
#sales-box-bottom {
  margin-top: 10%;
}
#sales-box-bottom h3 {
  text-transform: uppercase;
}
#sales-feature-list {
  text-align: left;
  margin-top: 8%;
  margin-left: 10%;
}
ul#sales-feature {
  margin-top: 5%;
  padding-left: 0;
  list-style-type: none;
}
ul#sales-feature > li > i {
  color: #ff7a59;
}
ul#sales-feature > li > a {
  text-decoration: none;
  padding: 0 4%;
}
#sales-button {
  margin-left: 28%;
}
/* /Sales Box */

/* Service Box */
#service-box-container {
  float: left;
  width: 30%;
  height: 700px;

  margin-bottom: 4%;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.5);
}
#service-box {
  width: 100%;
  margin-top: 6%;
}
#service-box-top h2 {
  padding-top: 6%;
}
#service-box-top p {
  padding: 6% 15%;
  line-height: 180%;
}
#service-dividers {
  width: 320px;
  height: 2px;
  background-color: #33475b;
  margin-top: 10%;
  margin-left: 10%;
}
#service-box-bottom {
  margin-top: 10%;
}
#service-box-bottom h3 {
  text-transform: uppercase;
}
#service-feature-list {
  text-align: left;
  margin-top: 8%;
  margin-left: 10%;
}
ul#service-feature {
  margin-top: 5%;
  padding-left: 0;
  list-style-type: none;
}
ul#service-feature > li > i {
  color: #ff7a59;
}
ul#service-feature > li > a {
  text-decoration: none;
  padding: 0 4%;
}
#service-button {
  margin-left: 28%;
}
/* /Service Box */
/* /Sezione integrations */

/* Sezione community */
#community-container {
  width: 100%;
  background-image: linear-gradient(to right, #01A9B8 , #00BCA6);
  padding-bottom: 5%;
}
#community-header {
  padding-top: 3%;
  text-align: center;
}
#community-header h2 {
  font-size: 37px;
  color: #ffffff;
}
#community-header p {
  padding-top: 3%;
  line-height: 180%;
  color: #ffffff;
  font-size: 18.3px;
}
#community-main {
  height: 381px;
  margin-top: 3%;
  padding-bottom: 30px;
}
.community-box-first-row {
  float: left;
  width: 25%;
  height: 191px;
  padding: 2% 0;
  background-color: transparent;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}
.community-box-first-row h2 {
  font-size: 45px;
  padding: 5% 0;
  font-weight: bold;
  color: #ffffff;
}
.community-box-first-row span {
  font-size: 30px;
  font-weight: lighter;
  color: #ffffff;
  vertical-align: middle;
}
.community-box-first-row p {
  color: #ffffff;
}
.community-box-first-row-last {
  float: left;
  width: 25%;
  height: 191px;
  padding: 2% 0;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}
.community-box-first-row-last h2 {
  font-size: 45px;
  padding: 5% 0;
  font-weight: bold;
  color: #ffffff;
}
.community-box-first-row-last span {
  font-size: 30px;
  font-weight: lighter;
  color: #ffffff;
  vertical-align: middle;
}
.community-box-first-row-last p {
  color: #ffffff;
}
.community-box-second-row {
  float: left;
  width: 25%;
  height: 191px;
  padding: 2% 0;
  background-color: transparent;
  border-right: 1px solid #ffffff;
  text-align: center;
}
.community-box-second-row h2 {
  font-size: 45px;
  padding: 5% 0;
  font-weight: bold;
  color: #ffffff;
}
.community-box-second-row span {
  font-size: 30px;
  font-weight: lighter;
  color: #ffffff;
  vertical-align: middle;
}
.community-box-second-row p {
  color: #ffffff;
}
.community-box-second-row-last {
  float: left;
  width: 25%;
  height: 191px;
  padding: 2% 0;
  background-color: transparent;
  text-align: center;
}
.community-box-second-row-last img {
  width: 38px;
  height: 33px;
}
.community-box-second-row-last h2 {
  font-size: 45px;
  padding: 5% 0;
  font-weight: bold;
  color: #ffffff;
}
.community-box-second-row-last span {
  font-size: 30px;
  font-weight: lighter;
  color: #ffffff;
  vertical-align: middle;
}
.community-box-second-row-last p {
  color: #ffffff;
}
#marketplace-img {
  width: 156px;
  height: 45px;
}
/* /Sezione community */

/* Sezione customers */
#customers {
  width: 100%;
  background-color: #ffffff;
}
#customers-text {
  float: left;
  padding: 6% 6%;
}
#customers-text h2 {
  font-size: 48px;
}
#customers-text p {
  font-size: 19.2px;
  padding-top: 10%;
  max-width: 250px;
  word-wrap:break-word;
  line-height: 31px;
}
#customers-text span {
  font-weight: bold;
}
#customers-logos {
  float: left;
  width: 65%;
  padding-top: 4%;
  padding-left: 8%;
}
.customer-logo-img {
  float: left;
  width: 180px;
  height: 98px;
  line-height: 98px;
}
.customer-logo-img img {
  max-width: 100%;
  max-height: 100%;
  padding: 0 8%;
  vertical-align: middle;
}
/* /Sezione customers */

/* Sezione growing */
#growing {
  width: 100%;
  background-color: #ffffff;
}
#growing-text {
  float: left;
  margin-top: 2%;
  max-width: 500px;
  word-wrap:break-word;
}
#growing-text h2 {
  font-size: 32px;
}
#growing-text p {
  padding: 7% 0;
  margin-bottom: 3%;
  line-height: 29px;
}
#growing-text span {
  font-size: 14px;
}
#get-free-button-growing {
  width: 208px;
  height: 65px;
  margin-top: 3%;
  border: none;
  background-color: #ff7a59;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}
#growing-img {
  float: left;
  margin-left: 36.2%;
  width: 340px;
  height: 377px;
}
#growing-img img {
  max-width: 100%;
  max-height: 100%;
}
/* /Sezione growing */

/* Footer */
footer {
  width: 100%;
  height: 1500px;
  background-color: #32495B;
}
#footer-top {
  border-bottom: 1px solid white;
}
.footer-column {
  float: left;
  width: 20%;
  margin: 4% 2%;
  background-color: transparent;
}
.footer-column:first-child {
  margin-left: 0;
}
.footer-column h3 {
  color: white;
}
.footer-column ul {
  list-style-type: none;
  padding-top: 10%;
}
.footer-column li {
  line-height: 40px;
  font-size: 18px;
  color: #cbd6e2;
}
#social-icon {
  padding: 2%;
}
#social-icon li {
  display: inline-block;
  width: 40px;
  height: 40px;
}
#social-icon li i {
  color: #cbd6e2;
}
#support-button {
  width: 208px;
  height: 40px;
  margin-top: 3%;
  border: 1px solid white;
  background-color: #cbd6e2;
  border-radius: 6px;
  font-size: 16px;
  color: black;
}
#language-list {
  text-align: center;
}
#language-list ul {

}
#language-list ul li {
  display: inline-block;
  padding: 2% 1%;
  font-size: 18px;
  color: #cbd6e2;
}
